<%= render "shared/header" %>
<%= render "shared/leftnavbar" %>
<div class="content">
  	<!-- Main bar -->
  	<div class="mainbar">
	    <div class="page-head">
	      	<h2 class="pull-left"><%= @company.name %></h2>

	      	<!--clear-->
        	<div class="clearfix"></div>
	    
	    </div>
	    
    </div>

    <!-- clear -->
   	<div class="clearfix"></div>
</div>